<html>
<style>
body {
    text-align: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
</head>
<body>

  <h1>Welcome!</h1>
  <h2>Click below to view our lovely fruit basket</h2>
  <a href="/fruits">Go to fruit basket</a>

  <h2>Or click below to create a custom Fruit Basket</h2>
  <a href="/create_basket">Go to fruit basket</a>

</body>
</html>